body {
    margin: 0;
    background: black;
    color: grey;
    text-align: center;
}

#header {
    color: white;
}

a:link {
    color: grey;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}
#Amain {
    float: left;
    max-width: 50%;
}
#A1 {
    max-width: 30%;
}
#A2 {
    max-width: 30%;
}
#B {
    clear: both;
}
#Bmain {
    float: none;
    max-width: 80%;
}
#B1 {
    max-width: 30%;
    padding: 30px;
}
#B2 {
    max-width: 30%;
    padding: 30px;
}
#C {
    clear: both;
}
#Cmain {
    max-width: 40%;
    padding: 50px;
}
#C1 {
    max-width: 40%;
    padding: 50px;
}
#Dmain {
    padding: 100px;
    max-width: 60%;
}

#E {
    clear: both;
}
#Emain {
    max-width: 35%;
    padding: 50px;
}
#E1 {
    max-width: 20%;
    padding: 50px;
}
#F {
    clear: both;
}
#Fmain {
    max-width: 40%;
    padding: 50px;
}
#F1 {
    max-width: 30%;
    padding: 50px;
}
#Lee {
    float: left;
    padding: 40px;
    max-width: 35%;
}
#NH1 { 
    max-width: 70%;
}
#NH2 { max-width: 70%;
}
#NH3 { max-width: 70%;
}
#NH4 { max-width: 70%;
}
#NH5 { max-width: 70%;
}
#NH6 { max-width: 70%;
}
#NH7 { max-width: 70%;
}
#NH8 { max-width: 70%;
}
#NH9 { max-width: 70%;
}
#NH10 { max-width: 70%;
}
#NH11 { max-width: 70%;
}
#NH12 { max-width: 70%;
}
#NH13 { max-width: 70%;
}
#NH14 { max-width: 70%;
}
#me1 { max-width: 48%;
    float: left;
    padding: 40px;
}
#me2 { max-width: 48%;
}
#me3 { max-width: 48%;
}
#me4 { max-width: 48%;
}
#me5 { max-width: 48%;
}
#me6 { max-width: 48%;
}
#me7 { max-width: 48%;
}
#me8 { max-width: 48%;
}
#me9 { max-width: 30%;
    float: left;
}
#gallery { max-width: 30%;
}